In [1]:
import zipfile
import pandas as pd
from functools import reduce

In [2]:
pwd

'/content'

In [3]:
cd /content

/content

In [4]:
rm -rf rebalanced-portfolio

In [5]:
!git clone https://github.com/jingde-wan/rebalanced-portfolio

Cloning into 'rebalanced-portfolio'...
remote: Enumerating objects: 233, done.
remote: Counting objects: 100% (133/133), done.
remote: Compressing objects: 100% (96/96), done.
remote: Total 233 (delta 61), reused 68 (delta 37), pack-reused 100
Receiving objects: 100% (233/233), 42.33 MiB | 8.59 MiB/s, done.
Resolving deltas: 100% (107/107), done.

In [6]:
cd rebalanced-portfolio/data

/content/rebalanced-portfolio/data

In [7]:
with zipfile.ZipFile("funds_X20_X21.csv.zip","r") as zip_ref:
    zip_ref.extractall(".")
with zipfile.ZipFile("good_subfund_labels.csv.zip","r") as zip_ref:
    zip_ref.extractall(".")
with zipfile.ZipFile("return_target.csv.zip","r") as zip_ref:
    zip_ref.extractall(".")

In [8]:
ls

f13..csv                     __MACOSX/              x14-15.csv   x8.csv
funds_X20_X21.csv            readme.md              x145.csv     x9-11.csv
funds_X20_X21.csv.zip        return_target.csv      x19.csv
good_subfund_labels.csv      return_target.csv.zip  x19_new.csv
good_subfund_labels.csv.zip  x12_13.csv             x67.csv

In [9]:
x145 = pd.read_csv('x145.csv',sep='\t')
x145

          iCUSIP iPERIOD_END  x1   x4  x5
0      000360206  2013-09-30   1  0.0 NaN
1      000360206  2013-12-31   0  0.0 NaN
2      000360206  2014-03-31   0  0.0 NaN
3      000360206  2014-06-30   0  0.0 NaN
4      000360206  2014-09-30   0  0.0 NaN
...          ...         ...  ..  ...  ..
58346  Y9384M101  2016-03-31   0  0.0 NaN
58347  Y9384M101  2016-06-30   0  0.0 NaN
58348  Y9384M101  2016-09-30   0  0.0 NaN
58349  Y9384M101  2017-03-31   0  0.0 NaN
58350  Y9384M101  2017-06-30   0  0.0 NaN

[58351 rows x 5 columns]

In [10]:
good_subfund_labels = pd.read_csv("good_subfund_labels.csv")
x2_3 = good_subfund_labels[['iCUSIP', 'iPERIOD_END', 'sector', 'value_size']]
x2_3.columns = ['iCUSIP', 'iPERIOD_END', 'x2', 'x3']
x2_3 = x2_3.sort_values(by='iCUSIP')
x2_3 = x2_3.drop_duplicates()
x2_3

           iCUSIP iPERIOD_END         x2                x3
284110  000361105  2017-03-31  Financial   Small-Cap Blend
284163  000361105  2017-09-30  Financial   Small-Cap Blend
283813  000361105  2015-09-30  Financial   Small-Cap Blend
283921  000361105  2016-03-31  Financial   Small-Cap Blend
284001  000361105  2016-06-30  Financial   Small-Cap Blend
...           ...         ...        ...               ...
66744   Y8565J101  2016-03-31     Energy  Small-Cap Growth
66719   Y8565N102  2016-03-31     Energy     MidCap Growth
66778   Y8565N102  2016-06-30     Energy     MidCap Growth
66667   Y8565N102  2015-12-31     Energy     MidCap Growth
263510  Y9384M101  2017-09-30     Energy  Small-Cap Growth

[45338 rows x 4 columns]

In [11]:
x67 = pd.read_csv('x67.csv')
x67 = x67.drop_duplicates()
x67 = x67[['iCUSIP','iPERIOD_END','x6','x7']]
x67 = x67.groupby(['iCUSIP','iPERIOD_END'],as_index=False)['x6','x7'].mean()
x67

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  after removing the cwd from sys.path.

          iCUSIP iPERIOD_END  x6  x7
0      000361105  2013-12-31 NaN NaN
1      000361105  2014-03-31 NaN NaN
2      000361105  2014-06-30 NaN NaN
3      000361105  2014-09-30 NaN NaN
4      000361105  2014-12-31 NaN NaN
...          ...         ...  ..  ..
62849  Y8565J101  2018-06-30 NaN NaN
62850  Y8565N102  2015-12-31 NaN NaN
62851  Y8565N102  2016-03-31 NaN NaN
62852  Y8565N102  2016-06-30 NaN NaN
62853  Y9384M101  2017-09-30 NaN NaN

[62854 rows x 4 columns]

In [12]:
x8 = pd.read_csv('x8.csv')
x8 = x8.groupby(['iCUSIP', 'iPERIOD_END'], as_index=False).x8.mean()
x8

          iCUSIP iPERIOD_END        x8
0      000361105  2015-09-30  0.028278
1      000361105  2016-03-31  0.092441
2      000361105  2016-06-30  0.131869
3      000361105  2017-03-31  0.072245
4      000361105  2017-09-30 -0.182748
...          ...         ...       ...
45333  Y8565J101  2016-06-30 -0.096210
45334  Y8565N102  2015-12-31 -0.157713
45335  Y8565N102  2016-03-31 -0.161110
45336  Y8565N102  2016-06-30 -0.096210
45337  Y9384M101  2017-09-30 -0.048749

[45338 rows x 3 columns]

In [13]:
x9_10_11 = pd.read_csv('x9-11.csv')
x9_10_11

          iCUSIP iPERIOD_END  x9  x10  x11
0      219350105  2013-06-30 NaN  0.0  NaN
1      478160104  2013-06-30 NaN  0.0  NaN
2      369550108  2013-06-30 NaN  0.0  NaN
3      902973304  2013-06-30 NaN  0.0  NaN
4      494368103  2013-06-30 NaN  0.0  NaN
...          ...         ...  ..  ...  ...
94999  871851101  2018-06-30 NaN  NaN  NaN
95000  G20045202  2018-06-30 NaN  NaN  NaN
95001  488152208  2018-06-30 NaN  NaN  NaN
95002  94770V102  2018-06-30 NaN  NaN  NaN
95003  896288107  2018-06-30 NaN  NaN  NaN

[95004 rows x 5 columns]

In [14]:
x12_13 = pd.read_csv('x12_13.csv')
x12_13 = x12_13.drop_duplicates()
x12_13 = x12_13[['iCUSIP','iPERIOD_END','x12','x13']]
x12_13 = x12_13.groupby(['iCUSIP','iPERIOD_END'],as_index=False)['x12','x13'].mean()
x12_13

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  after removing the cwd from sys.path.

          iCUSIP iPERIOD_END  x12  x13
0      000361105  2015-09-30  NaN  NaN
1      000361105  2016-03-31  NaN  NaN
2      000361105  2016-06-30  NaN  NaN
3      000361105  2017-03-31  NaN  NaN
4      000361105  2017-09-30  NaN  NaN
...          ...         ...  ...  ...
60566  Y8565J101  2016-06-30  NaN  NaN
60567  Y8565N102  2015-12-31  NaN  NaN
60568  Y8565N102  2016-03-31  NaN  NaN
60569  Y8565N102  2016-06-30  NaN  NaN
60570  Y9384M101  2017-09-30  NaN  NaN

[60571 rows x 4 columns]

In [15]:
x14_15 = pd.read_csv('x14-15.csv')
x14_15 = x14_15.groupby(['iCUSIP', 'iPERIOD_END'], as_index=False)[['x14','x15']].mean()
x14_15
# x15不能 take mean怎么办

          iCUSIP iPERIOD_END       x14       x15
0      000375204  2014-03-31  0.060627  0.848895
1      000375204  2014-06-30 -0.003404       NaN
2      000375204  2015-03-31  0.005657  1.000000
3      000375204  2015-09-30  0.015368       NaN
4      000375204  2015-12-31 -0.011073       NaN
...          ...         ...       ...       ...
12168  Y4722Z120  2014-03-31  0.014725       NaN
12169  Y64354205  2014-03-31  0.078075       NaN
12170  Y7388L103  2014-03-31  0.043754       NaN
12171  Y8564M105  2014-03-31  0.057707 -1.000000
12172  Y8564W103  2017-12-31  0.004966       NaN

[12173 rows x 4 columns]

In [29]:
x19 = pd.read_csv('x19_new.csv')
x19 = x19[['pSP_CUSIP','pSP_DATE','X19_IDIO']]
x19.columns = ['iCUSIP','iPERIOD_END','x19']
x19

           iCUSIP iPERIOD_END       x19
0       703797100  2013-09-30  0.847159
1       723836300  2013-09-30  0.197627
2       741511109  2013-09-30  0.052336
3       71366R703  2013-09-30  0.121934
4       746228303  2013-09-30  0.976383
...           ...         ...       ...
128038  38747R108  2017-06-30       NaN
128039  05961W105  2017-06-30  0.050301
128040  68386C203  2017-06-30  0.487031
128041  09258A107  2017-06-30  0.445215
128042  09248L106  2017-06-30  0.046638

[128043 rows x 3 columns]

In [19]:
x20_21 = pd.read_csv('funds_X20_X21.csv')
x20_21 = x20_21[['iCUSIP','iPERIOD_END','mar_Cap_change','quantity_change']]
x20_21.columns = ['iCUSIP','iPERIOD_END', 'x20', 'x21']
x20_21 = x20_21.groupby(['iCUSIP','iPERIOD_END'], as_index=False)[['x20','x21']].sum()
x20_21

          iCUSIP iPERIOD_END       x20      x21
0      000360206  2013-12-31       0.0      0.0
1      000361105  2013-09-30       0.0      0.0
2      000361105  2013-12-31   23648.6  -3100.0
3      000361105  2014-03-31 -743914.2 -15000.0
4      000361105  2014-06-30  406782.7   5000.0
...          ...         ...       ...      ...
57066  Y8565N102  2017-03-31       0.0      0.0
57067  Y9384M101  2017-06-30       0.0      0.0
57068  Y95308105  2016-09-30       0.0      0.0
57069  Y95308105  2017-03-31       0.0      0.0
57070  Y95308105  2017-06-30 -645660.5    477.0

[57071 rows x 4 columns]

In [30]:
x16_18 = pd.read_csv('../../prices_X16_X17_X18.csv')
x16_18 = x16_18[['pSP_CUSIP','pSP_DATE','30D','60D','90D']]
x16_18.columns = ['iCUSIP','iPERIOD_END','x16','x17','x18']
x16_18

            iCUSIP iPERIOD_END           x16       x17       x18
0        320734106  2014-07-25           NaN       NaN       NaN
1        320734106  2014-07-24           NaN       NaN       NaN
2        289660102  2014-09-02           NaN       NaN       NaN
3        289660102  2014-08-29           NaN       NaN       NaN
4        301835104  2016-12-13           NaN       NaN       NaN
...            ...         ...           ...       ...       ...
6995407  45825X105  2016-02-08 -1.199340e-03 -0.544687  0.523548
6995408  45825X105  2016-02-04 -1.332268e-15 -0.629568  0.524158
6995409  45825X105  2016-02-02  3.334523e+00 -0.188375  2.123475
6995410  45825X105  2016-02-03 -2.664535e-15 -0.610161  0.915686
6995411  45825X105  2016-02-01  1.812665e+00 -0.274943  1.704147

[6995412 rows x 5 columns]

In [31]:
y = pd.read_csv('return_target.csv')
y = y[['iCUSIP','iPERIOD_END','return']]
y.columns = ['iCUSIP','iPERIOD_END','y']
y

          iCUSIP iPERIOD_END         y
0      219350105  2013-06-30  0.110450
1      219350105  2013-09-30  0.138177
2      219350105  2013-12-31  0.096808
3      219350105  2014-03-31 -0.033397
4      219350105  2014-06-30  0.007404
...          ...         ...       ...
90475  896288107  2017-03-31  0.228324
90476  896288107  2017-06-30  0.104575
90477  896288107  2017-09-30 -0.021065
90478  896288107  2017-12-31  0.277805
90479  896288107  2018-03-31  0.096500

[90480 rows x 3 columns]

In [32]:
dfs = [x2_3, x145, x67, x8, x9_10_11, x12_13, x14_15, x16_18, x19, x20_21, y]

In [33]:
df_merged = reduce(lambda left,right: pd.merge(left,right,on=['iCUSIP','iPERIOD_END'], how='left'), dfs)
df_merged = df_merged[['iCUSIP','iPERIOD_END','x1','x2','x3','x4','x5','x6','x7','x8','x9','x10',
                       'x11','x12','x13','x14','x15','x16','x17','x18','x19','x20','x21','y']]
df_merged = df_merged.sort_values(by=['iPERIOD_END','iCUSIP'])
df_merged

,iCUSIP,iPERIOD_END,x1,x2,x3,x4,x5,x6,x7,x8,...,x13,x14,x15,x16,x17,x18,x19,x20,x21,y
25,000375204,2013-06-30,NaN,Materials,Small-Cap Blend,NaN,NaN,NaN,NaN,-0.022333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.116711
36,00081T108,2013-06-30,NaN,Financial,MidCap Blend,NaN,NaN,NaN,NaN,0.031006,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.141655
48,00101J106,2013-06-30,NaN,Energy,MidCap Blend,NaN,NaN,NaN,NaN,-0.038274,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.060910
72,001055102,2013-06-30,NaN,Technology,Small-Cap Blend,NaN,NaN,NaN,NaN,-0.002266,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.093872
77,001084102,2013-06-30,NaN,Financial,Small-Cap Blend,NaN,NaN,NaN,NaN,-0.033230,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.020687
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45160,Y1771G102,2018-06-30,NaN,Energy,Small-Cap Growth,NaN,NaN,NaN,NaN,-0.006598,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45205,Y2573F102,2018-06-30,NaN,Industrial,Large-Cap Value,NaN,NaN,NaN,NaN,-0.021212,...,NaN,-0.018762,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45224,Y2745C102,2018-06-30,NaN,Energy,Small-Cap Blend,NaN,NaN,0.02255,NaN,0.000013,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45254,Y7388L103,2018-06-30,NaN,Energy,Small-Cap Growth,NaN,NaN,NaN,NaN,0.039419,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45273,Y75638109,2018-06-30,NaN,Energy,Small-Cap Growth,NaN,NaN,NaN,NaN,-0.036814,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
df_merged

,iCUSIP,iPERIOD_END,x1,x2,x3,x4,x5,x6,x7,x8,...,x13,x14,x15,x16,x17,x18,x19,x20,x21,y
25,000375204,2013-06-30,NaN,Materials,Small-Cap Blend,NaN,NaN,NaN,NaN,-0.022333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.116711
36,00081T108,2013-06-30,NaN,Financial,MidCap Blend,NaN,NaN,NaN,NaN,0.031006,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.141655
48,00101J106,2013-06-30,NaN,Energy,MidCap Blend,NaN,NaN,NaN,NaN,-0.038274,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.060910
72,001055102,2013-06-30,NaN,Technology,Small-Cap Blend,NaN,NaN,NaN,NaN,-0.002266,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.093872
77,001084102,2013-06-30,NaN,Financial,Small-Cap Blend,NaN,NaN,NaN,NaN,-0.033230,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.020687
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45160,Y1771G102,2018-06-30,NaN,Energy,Small-Cap Growth,NaN,NaN,NaN,NaN,-0.006598,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45205,Y2573F102,2018-06-30,NaN,Industrial,Large-Cap Value,NaN,NaN,NaN,NaN,-0.021212,...,NaN,-0.018762,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45224,Y2745C102,2018-06-30,NaN,Energy,Small-Cap Blend,NaN,NaN,0.02255,NaN,0.000013,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45254,Y7388L103,2018-06-30,NaN,Energy,Small-Cap Growth,NaN,NaN,NaN,NaN,0.039419,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45273,Y75638109,2018-06-30,NaN,Energy,Small-Cap Growth,NaN,NaN,NaN,NaN,-0.036814,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
df_merged['x2'].isna().sum()

0

In [ ]:
df_merged.fillna(method='ffill')

,iCUSIP,iPERIOD_END,x1,x2,x3,x4,x5,x6,x7,x8,...,x10,x11,x12,x13,x14,x15,x19,x20,x21,y
25,000375204,2013-06-30,NaN,Materials,Small-Cap Blend,NaN,NaN,NaN,NaN,-0.022333,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.116711
36,00081T108,2013-06-30,NaN,Financial,MidCap Blend,NaN,NaN,NaN,NaN,0.031006,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.141655
48,00101J106,2013-06-30,NaN,Energy,MidCap Blend,NaN,NaN,NaN,NaN,-0.038274,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.060910
72,001055102,2013-06-30,NaN,Technology,Small-Cap Blend,NaN,NaN,NaN,NaN,-0.002266,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.093872
77,001084102,2013-06-30,NaN,Financial,Small-Cap Blend,NaN,NaN,NaN,NaN,-0.033230,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.020687
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45160,Y1771G102,2018-06-30,1.0,Energy,Small-Cap Growth,0.142857,0.074524,0.068558,0.004083,-0.006598,...,0.0,0.162062,0.068219,0.021918,-0.043021,-1.0,0.280612,-1984.0,0.0,-0.223094
45205,Y2573F102,2018-06-30,1.0,Industrial,Large-Cap Value,0.142857,0.074524,0.068558,0.004083,-0.021212,...,1.0,0.011945,0.092028,0.021918,-0.018762,-1.0,0.280612,-1984.0,0.0,-0.223094
45224,Y2745C102,2018-06-30,1.0,Energy,Small-Cap Blend,0.142857,0.074524,0.022550,0.004083,0.000013,...,0.0,0.011945,0.092028,0.021918,-0.018762,-1.0,0.280612,-1984.0,0.0,-0.223094
45254,Y7388L103,2018-06-30,1.0,Energy,Small-Cap Growth,0.142857,0.074524,0.022550,0.004083,0.039419,...,0.0,0.011945,0.092028,0.021918,-0.018762,-1.0,0.280612,-1984.0,0.0,-0.223094
45273,Y75638109,2018-06-30,1.0,Energy,Small-Cap Growth,0.142857,0.074524,0.022550,0.004083,-0.036814,...,0.0,0.011945,0.092028,0.021918,-0.018762,-1.0,0.280612,-1984.0,0.0,-0.223094